@model ECEntity.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>E-CommerceSite</title>
    <link rel="stylesheet" type="text/css" href="~/css/Homedesign.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/test.css">
    <link rel="stylesheet" type="text/css" href="~/css/header.css">
    <link rel="stylesheet" type="text/css" href="~/css/menu.css">
    <link rel="stylesheet" type="text/css" href="~/css/footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

    <header class="header">
        <div>
            <nav>
                <ul class="header_ul">
                    <li><a href="home.html"><i class="fa fa-home" aria-hidden="true" style="color: white"></i></a></li>
                    <li><a href="cart.html"><i class="fa fa-shopping-cart" aria-hidden="true" style="color: white"></i></a></li>

                    <li>
                        <a href="viewProfile.html"><i class="fa fa-user" aria-hidden="true" style="color: white"></i></a>
                        <ul class="dropdown" id="User">
                            <form>
                                <li style="text-align: center"><text id="Navfront"><font color="#444141">Login</font></text><hr></li>
                                <li><input type="text" placeholder="USERNAME" style="width: 80%"></li>
                                <li><input type="Password" placeholder="PASSWORD" style="width: 80%;"></li>
                                <li style="text-align: center"><a href="forgot_password.html">Forgot Password?</a></li>
                                <div style="text-align: center">
                                    <button type="Submit" name="signin" formaction="home.html">Sign in</button>
                                    <button type="Submit" name="signup" formaction="signup.html">Sign Up</button>
                                </div>

                            </form>
                        </ul>


                    </li>
                    <li><a href="contactus.html"><i class="fa fa-phone" aria-hidden="true" style="color: white"></i></a></li>
                    <li><a href="login.html"><i class="fa fa-sign-out" aria-hidden="true" style="color: white"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <menu class="home">
        <div>
            <nav class="bar">
                <ul>
                    <li class="menu_font">
                        <a href="WomenSite.html"><font color="#444141" face="Impact" style="margin:15" size="5">WOMEN</font> <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul class="dropdowns">
                            <li><a href="WomenSite.html"><font color="#444141" face="Impact" style="margin:15" size="2">Saree</font></a></li>
                            <hr>
                            <li><a href="WomenSite.html"><font color="#444141" face="Impact" style="margin:15" size="2">Skirt</font></a></li>
                            <hr>
                            <li><a href="WomenSite.html"><font color="#444141" face="Impact" style="margin:15" size="2">Pant</font></a></li>
                            <hr>
                            <li><a href="WomenSite.html"><font color="#444141" face="Impact" style="margin:15" size="2">Shirt</font></a></li>
                            <hr>
                            <li><a href="WomenSite.html"><font color="#444141" face="Impact" style="margin:15" size="2">TShirt</font></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="MenSite.html"><font color="#444141" face="Impact" style="margin:15" size="5">MEN</font> <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul class="dropdowns">
                            <li><a href="MenSite.html"><font color="#444141" face="Impact" style="margin:15" size="2">Shirt</font></a></li>
                            <hr>
                            <li><a href="MenSite.html"><font color="#444141" face="Impact" style="margin:15" size="2">TShirt</font></a></li>
                            <hr>
                            <li><a href="MenSite.html"><font color="#444141" face="Impact" style="margin:15" size="2">Pant</font></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="KidSite.html"><font color="#444141" face="Impact" style="margin:15" size="5">KIDS</font> <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul class="dropdowns">
                            <li><a href="KidSite.html"><font color="#444141" face="Impact" style="margin:15" size="2">Shirt</font></a></li>
                            <hr>
                            <li><a href="KidSite.html"><font color="#444141" face="Impact" style="margin:15" size="2">TShirt</font></a></li>
                            <hr>
                            <li><a href="KidSite.html"><font color="#444141" face="Impact" style="margin:15" size="2">Pant</font></a></li>
                        </ul>
                    </li>
                    <li><a href="custom.html"><font color="#444141" face="Impact" style="margin:15" size="5">Custom</font></a></li>
                    <li>

                    </li>
                    <hr>
                    <div class="search-container">
                        <form action="">
                            <input style="border-radius: 12px; " type="text" placeholder="Search.." name="search">
                            <button class="button" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </ul>
            </nav>
        </div>
    </menu>

    <section>
        <div class="wrapper">
            <div class="form">
                <form action="" method="post">
                    <fieldset id="signup-form">
                        <legend>Registration</legend>

                        <input type="text" name="UserName" placeholder="User Name" maxlength="30" />

                        <input type="text" name="FullName" placeholder="Full Name" maxlength="30" />

                        <hr>

                        <input type="text" name="Email" maxlength="50" placeholder="Email Address" />

                        <hr>

                        <input type="number" name="Age" maxlength="50" placeholder="Age" />

                        <hr>

                        <input type="Password" name="Password" maxlength="50" placeholder="Password" />
                        

                        <hr>

                        <button type="submit" name="submit">Sign Up</button>
                        <button type="reset">Reset</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

    <footer style="clear: both">
        <div class="left_footer" style="text-align: right">
            <font face="Arial Black" color="white" style="margin:5; font-size: 15">&copy;COPYRIGHT</font>
        </div>

        <div class="right_footer">
            <img src="../Icon/facebook.png" height="30px" width="30px" style="margin:15">
            <img src="../Icon/google.png" height="30px" width="30px" style="margin:15">
            <img src="../Icon/twitter.png" height="30px" width="30px" style="margin:15">
        </div>
    </footer>
</body>
</html>
